.icon-color-main {
    color: white;
}
img{
    width: 50px;
    height: auto;
}

.order-button {
    float: right;
}

.cancel-btn {
    float: right;
    margin-right: 15px;
}

.margin-alert {
    position: absolute;
    width: 95%;
    bottom: 35%;
}